.editor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .playground {
      /* top: 0;
      bottom: 0;
      left: 0; */
      background-color: #1E1E2C;
      display: grid;

    }
    
    .code-editor {
      height: 100%;
      overflow: hidden;
      position: relative;
    }
  
    .half-height {
      height: 100%;
    }
    
    .editor-header {
      height: 30px;
      content: attr(title);
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 18px;
      color: #fafafa;
    }
    
    .react-codemirror2 {
      max-height: 100%;
      overflow: auto;
    }
    
    .result {
      /* position: fixed; */
      /* top: 0; */
      /* right: 0;
      bottom: 0; */
      /* left: 600px; */
      overflow: hidden;
    }
    
    .iframe {
      width: 100%;
      height: 100%;
    }